@mixin text_body($color: #3b4151)
{
    font-family: 'Proxima Nova', sans-serif;

    color: $color;
}

@mixin text_code($color: #3b4151)
{
    font-family: 'Proxima Nova', monospace;
    font-weight: 600;

    color: $color;
}

@mixin text_headline($color: #3b4151)
{
    font-family: 'Proxima Nova', sans-serif;

    color: $color;
}
